.App {
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.App-header {
  background-color: #4564ff;
  min-height: 10vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #fafafa;
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(30, 30, 30);
}

.Todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 90vh;
  width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Add-todo {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 50px;
  width: 60vw;
  padding-left: 50px;
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 4px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 2px;
  border: none;
}